*.user
*.ipch
*.sdf
*.suo
*.ipch
*.VC.db
*.opendb
*.txt
[Dd]ebug*/
[Rr]elease*/
_errorlog.txt
*_[ip].[ch]
ActiveField.dll
ResDLL*.rc2
*.hm
dlldata.c
*.chm
/Help/HelpCommon/resource.h
Resource_MAP.h
HarmonicsBrowserAddin*.h
InsShapeAddin.h
HTMLDefines.h
/Utilities/LCMatrix/Capacitance/Capacitance.h
/Utilities/LCMatrix/Capacitance_Rus/CapacitanceRus.h
/Utilities/SolidWorksAddin/SolidWorksAddin/SolidWorksAddin.h
/Utilities/SolidWorksAddin/SolidWorksAddinRus/SolidWorksAddinRus.h
/Help/ActiveField*/HTML/*.htm
/Help/ActiveField*/*.hh*
/Help/ActiveField*/*.ini


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
ipch/

#ignore persolal stuff
_*
**/*.bat
/Common/TypelibEnglish/CurrentVersion.h
/Common/TypelibRussian/CurrentVersion.h
/Protection/NLConfigCommon/CurrentVersion.h
/Protection/NLConfigEnglish/CurrentVersion.h
/Protection/NLConfigRussian/CurrentVersion.h
/Protection/ProtectionCommon/CurrentVersion.h
